*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B0A695;
}
.top-bar{
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: #776B5D;
    border-bottom: 1px solid #000000;
    position: relative;
}
.top-bar__image{
    width: 2em;
    margin-left: 10vw;
}
.container{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.background{
    display: flex;
    background-image: url(../img/empre.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid #000000;
    opacity: 0.6;
}
.background__back{
    display: block;
    margin: 15px 0 10px 25px;
}
.background h2{
    font-size: 50px;
    font-family: "Sura";
    color: #000000;
}
.background p{
    font-size: 35px;
    font-family: "Shanti";
    color: #000000;
    font-weight: bold;
}
h2{
    font-size: 35px;
    font-family: "Bona Nova";
    padding: 60px 0 20px 0;
}
p{
    font-size: 25px;
    font-family: "Shanti";
    line-height: 50px;
}
h3{
    font-size: 35px;
    padding: 60px 0 20px 0;
    font-family: "Bona Nova";
}
li{
    font-size: 25px;
    line-height: 50px;
    font-family: "Shanti";
}
ul{
    font-size: 25px;
    line-height: 50px;
    font-family: "Shanti";
}
.bot-bar{
    display: flex;
    height: 8vh;
    align-items: center;
    background-color: #4F4A45;
    justify-content: center;
    position: relative;
}
.bot-bar__txt{
    position: absolute;
    bottom: 0;
}